html {
    background-color: rgb(255, 255, 255) !important;

}

body {
    overflow-x:hidden;
    color: #FFF !important;
    background-color: rgb(36, 41, 54) !important;

}

@font-face {
    font-family: MmrText;
    src: url(/public/fonts/mmrtext.ttf);
}
select {
    margin: 50px;
    width: 100%;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #CCC;
    height:50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../Img/mouse-hover-icon-22.jpg) 96% / 30px no-repeat #EEE;
}

a {
    text-decoration: none;
    position: relative;
    color:#000000;
}

a:hover {
     text-decoration: none !important;
 }
a span {
    display: none;
    position: absolute;
    color: #f58d0d;
    background: #f58c0b;
    padding: 5px;
}
a:hover span {
    display: inline-block; text-align: center;
    width: 100%;
    min-height: 30px;
    margin-top: 25px;
    font-family: pt-sans, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
input {
    font-family: pt-sans, sans-serif;
    height: 50px;
    font-size: 20px;
    width: 100%;
    padding: 0 10px;
}
table tr th,
table tr td {
    padding: 10px;
    color: #ffffff;
}

ul#ul-class-navigation li {
    color: white;
    display: inline;
    font-family: pt-sans, sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-decoration-color: currentcolor;
}
#Header {
    position: fixed;
    top:0;
    text-align: center;
    background-color: rgb(255, 119, 7);
    width: 100%;
    height: 12%;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#Content {
    margin-top: 200px;
}
#FilterFrame1 {
    font-size: 12px;
    width: 12%;
    float: left;
    top:216px;
    margin-left: 63%;
    margin-top: 6px;
    border-bottom: 1px solid #414141;
}
#FilterFrame2 {
    font-size: 12px;
    width: 12%;
    float: left;
    top:216px;
    margin-left: 2%;
    margin-top: 5px;
    border-bottom: 1px solid #414141;
}

#ResultsArea.Browse  {
    width: 78%;
    margin-left: 11%;
    float: left;
    position: sticky;
}
#ProductFrame {
    width: 100%;
    height: 250px;
    border-radius: 20px;
    margin-top: 15px;
    position: relative;
    background-color: #f6f6f6;
    padding: 1px;
    border-bottom: 1px solid #000000;
}
.ImgFrame {
    width: 230px;
    height: 230px;
    background-color: #f6f6f6;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px
}
.ImgFrame img {
    width: 230px;
    height: 230px;
}
#StockItemFrameRight {
    float: right;
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
    right: 0;
    top: 0;
}

.buttonOrange {
    background: linear-gradient( 90deg,#ff640e,#ff3000);
    border: none;
    color: white;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.64);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
.buttonOrange:active{
    background: linear-gradient( 90deg, #d9520a, #c42200);
}

.buttonOrange1{
    border-radius: 20px;
    margin: 3%;
    margin-left: 35%;
    width: 30%;
    font-size: 18px;
}

.buttonOrange2{
    color: #ededed;
    border-radius: 10px;
    height: 40px;
    font-size: 18px;
    width: 100%;
}
.buttonOrange2:hover{
    color: #ffffff;
}
.buttonOrange3{
    color: #ededed;
    height: 40px;
    width: 60%;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 50px;
}
.buttonOrange3:hover{
    color: #ffffff;
}


.ItemName {
    position: relative;
    top: 10px;
    font-family: pt-sans, sans-serif;
    color: #000000;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
.ItemQuantity {
    position: absolute;
    left: 250px;
    bottom: 2.5px;
    color: #000000;
    font-size: 15px;
}
#VideoFrame {
    width: 100%;
    height: 350px;
    background-color: #000000;
    margin-bottom: 10px;
}
#ArticleHeader {
    width: 100%;
    height: 300px;
    position: relative
}
#ImageFrame {
    width: 300px;
    height: 300px;
    background: radial-gradient(circle, rgba(48,55,73,1) 23%, rgba(36,41,54,1) 83%);
    float: left;
    margin-right: 10px;
}
.QuantityText {
    position: absolute;
    left: 310px;
    bottom: 0;
}
#StockItemHeaderLeft {
    float: right;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    height: 300px;
}

.StockItemNameViewSize {
    font-size: 35px !important;
}
.CenterPriceLeft {
    position: absolute;
    height: 100%;
    right: 0;
    width: 200px;
}
.CenterPriceLeftChild {
    position: relative;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#StockItemDescription {
    background: rgb(48,55,73);
    background: radial-gradient(circle, rgba(48,55,73,1) 0%, rgb(53, 62, 82) 51%, rgba(48,55,73,1) 100%);    width: 49%;
    float: left;
    padding: 10px;
    margin-top:10px;
    border: 1px solid #000000;
    font-family: pt-sans, sans-serif;
    font-size: 20px;
}
#StockItemSpecifications {
    background: rgb(48,55,73);
    background: radial-gradient(circle, rgba(48,55,73,1) 0%, rgb(53, 62, 82) 51%, rgba(48,55,73,1) 100%);
    width: 49%;
    float: left;
    padding: 10px;
    margin-left: 1%;
    margin-top:10px;
    border: 1px solid #000000;
    font-family: pt-sans, sans-serif;
    font-size: 20px;
}
.Labels {
    margin-bottom: 0;
    padding: 10px;
    font-size: 20px;
    margin-right: 5px;
}
.Background {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    position: absolute;
}
#LogoA {
    height: 150px;
    width: 200px;
}
#LogoImage {
    background-image: url("/public/img/logo.png");
    width: 170px;
    height: 90px;
}
ul#ul-class li {
    display: inline;
    color: #000000;
    margin-right: 1em;
    font-size: 18px;
    text-decoration: none;
}
ul#ul-class-price li {
    display: inline;
}
.TextPrice {
    margin-top: 16%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.HrefDecoration {
    font-family: vortice-concept, sans-serif;
    font-size: 19px;
    color: #ffffff;
}

.HrefDecoration i.search {
    color: #f58d0d;
}

.HrefDecoration:hover, .HrefDecoration:active {
    text-decoration: none;
    color: #d5d5d5;
}
.TextMain {
    color: #ffffff;
    font-family: vortice-concept, sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    width: 50%;
    margin-left: 10%;
}
.HomePagePrice {
    color: #f58c0b;
    font-family: vortice-concept, sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 10%
}
.HomePageStockItemPicture {
    background-image: url("../productimghighres/biertje.png");
    background-size: 100% 100%;
    width: 477px;
    height: 477px;
    background-repeat: no-repeat;
    margin-left: 60%;
    margin-top: -25%;
}
#Wrap {
    width: 100%;
    height: 600px;
    margin-top: 3%;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.StockGroups {
    position: relative;
    border: 1px solid slategrey;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    margin-left: 1.5%;
    font-family: vortice-concept, sans-serif;
    color: #ffffff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}
#StockGroup1 {
    width: 18%;
    height: 600px;
    margin-left: 5%;
}
#StockGroup2 {
    width: 18%;
    height: 600px;
    background-size: cover;
}
#StockGroup3 {
    width: 15%;
    height: 41.5%;
}
#StockGroup4 {
    width: 30%;
    height: 250px;
}
#StockGroup5 {
    width: 25%;
    height: 53.5%;
    margin-top: 1.5%;
}
#StockGroup6 {
    width: 20%;
    height: 53.5%;
    margin-left: 1.5%;
    margin-top: 1.5%;
}
.StockGroups h1 {
    position: absolute;
    left:0;
    right: 0;
    font-size: 25px;
}
#StockGroup2 h1 {
    bottom: 0;
}
#StockGroup1 h1 {
    bottom: 0;
}
#StockGroup5 h1 {
    bottom: 0;
}
#StockGroup6 h1 {
    bottom: 0;
}
#Wrap a {
    text-decoration: none;
    color: #000000;
}
#Wrap a:hover {
    color: #000000;
    opacity: 0.9;
}
.StockItemPriceText {
    font-family: vortice-concept, sans-serif;
    color: #f58d0d;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 25px;
}
.StockItemPriceText:hover {
    text-decoration: none;
}
.StockItemID {
    font-family: vortice-concept, sans-serif;
    color: #f58c0b;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;
}
.StockItemName {
    font-family: pt-sans, sans-serif;
    color: #000000;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.StockItemName2 {
    font-family: pt-sans, sans-serif;
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.StockItemComments {
    font-family: pt-sans, sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

.StockItemComments2 {
    font-family: pt-sans, sans-serif;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}

#CenteredContent {
    margin: 0 auto;
    width: 70%;
    padding-top: 10px;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
#ImageCarousel {
    width: 300px;
    height: 300px;
}
.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
    width: 20px;
    height: 20px;
}
.ListItem:hover {
    text-decoration: none;
}
#NoSearchResults {
    text-align: center;
    height: 100%;
    margin: 10px;
    font-size: 20px;
    color: #ffffff;
    position: relative;
}
#ProductNotFound {
    text-align: center;
    position: relative;

}
.IndexStyle {
    margin: 0 auto;
    width: 1400px;
}
.FilterTopMargin {
    margin-top: 20px;
}
#ProductFrame h6 {
    color: #000000;
}
#CategoriesBar {
height: auto;
}
#PageSelector {
    text-align: center;
    margin: 20px;
}
#SelectedPage {
    font-size: 18px;
    display: inline;
    font-weight: bold;
    background-color: rgb(245, 170, 79);
    padding: 15px 22px;
    border-radius: 50px;
}
.PageNumber {
    padding: 7px 15px;
    border-radius: 39px;
    background: rgb(245, 140, 11);
    border: 1px rgb(245, 170, 79) solid;
    color: #ffffff;
}

.CartContainer{
    width: 95%;
    height: 90%;
    background-color: #fefefe;
    border-radius: 20px;
    box-shadow: 0px 10px 20px #1687d933;
    margin-left: auto;
    margin-right: auto;
}

.AccountContainer {
    width: 98%;
    height: 90%;
    background-color: #fefefe;
    border-radius: 20px;
    box-shadow: 0px 10px 20px #1687d933;
    margin-left: auto;
    margin-right: auto;
}

.AccountRow {
    float: left;
    width: 48%;
    background-color: #fefefe;
    border-radius: 20px;
    box-shadow: 0px 10px 20px #1687d933;
    margin-left: 1%;
    margin-right: 1%;
}

.AccountRow:after {
    content: "";
    display: table;
    clear: both;
}

.AccountData {
    margin-left: 10%;
    font-size: 16px;
    font-family: 'Open Sans';
    color: black;
    font-weight: bold;
    margin-top: 15px;
}

.AccountChangeDataButton {
    padding-top: 1.5%;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    height: 45px;
    border: none;
    background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB);
    color: black;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 600;
}
.Header{
    margin: auto;
    border-bottom: 1px solid #000;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.Heading{
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #2F3841;
}
.HeadingFull{
    margin-top: 10px;
    text-align: center;
    margin-left: 46%;
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #2F3841;
}
.Action{
    font-size: 14px;
    margin-top: 1%;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
    border-bottom: 1px solid #E44C4C;
}

.Cart-Items{
    margin: auto;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #aaa;
}
.image-box{
    width: 15%;
    text-align: center;
}
.about{
    height: 100%;
    width: 40%;
}
.title{
    padding-top: 10px;
    line-height: 10px;
    margin-bottom: 5%;
    font-size: 25px;
    font-family: 'Open Sans';
    font-weight: 800;
    color: #202020;
}
.subtitle{
    line-height: 10px;
    font-size: 18px;
    margin-top: 5px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #909090;
}

.counter{
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 900;
    color: #202020;
    cursor: pointer;
}
.count{
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #202020;
}

.prices{
    height: 100%;
    text-align: right;
}
.amount{
    padding-top: 20px;
    font-size: 26px;
    font-family: 'Open Sans';
    font-weight: 800;
    color: #202020;
}
.save{
    padding-top: 5px;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #1687d9;
    cursor: pointer;
}
.remove{
    font-size: 14px;
    width: 90px;
    margin: 2%;
    height: 25px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
}
.removeAll{
    font-size: 14px;
    margin: 2%;
    height: 25px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
}
.pad{
    margin-top: 5px;
}

hr{
    width: 66%;
    float: right;
    margin-right: 5%;
    color: #FFFFFF;
}
.hrwit{
    color: white;
}
.checkout{
    float: right;
    margin-left: 100%;
    width: 25%;
    height: 90%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #1687d933;
}
.total{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.Subtotal{
    font-size: 22px;
    padding-right: 20px;
    margin: 5%;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #202020;
}
.items{
    font-size: 15px;
    margin-left: 5px;
    font-family: 'Open Sans';
    font-weight: 500;
    color: #909090;
    line-height: 10px;
}
.total-amount{
    font-size: 36px;
    margin: 5%;
    font-family: 'Open Sans';
    font-weight: 900;
    color: #202020;
}
.button{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border: none;
    background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB);
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #202020;


}
.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color: #303749FF;
}
.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}
.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}
.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}
.footer-dark ul a:hover {
  opacity:0.8;
}
@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}
.footer-dark .item.text {
  margin-bottom:36px;
}
@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}
.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}
.footer-dark .item.social {
  text-align:center;
}
@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}
.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}
.footer-dark .item.social > a:hover {
  opacity:0.9;
}
.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

* {
    margin:0;
    padding:0
}
a,a:hover{
    text-decoration: none;
}
.myform-area{
    overflow: hidden;
    padding: 60px 0;
    background: rgb(36, 41, 54);
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}
.myform-area .form-area{
    position: relative;
    background: rgb(36, 41, 54);
    width: 100%;
    height: 400px;
    overflow: hidden;
    box-shadow: 0 0 20px 0 #e1e1e1;
}

.myform-area .form-area .form-content,
.myform-area .form-area .form-input{
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    box-sizing: border-box;
}

.myform-area .form-area .form-content{
    width: 50%;
    padding: 40px 30px;
}

.myform-area .form-area .form-content h2{
    color: #fff;
}
.myform-area .form-area .form-content p{
    color: #fff;
}
.myform-area .form-area .form-content ul{
    margin-top: 50px;
}

.myform-area .form-area .form-content ul li{
    display: inline-block;
    margin-right: 10px;
}
.myform-area .form-area .form-content a i{
    margin-right: 10px;
}

.myform-area .form-area .form-content .facebook{
    display: block;
    padding: 10px 20px;
    background: #3B579D;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
    border-radius: 4px;
    border: 1px solid #3B579D;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.myform-area .form-area .form-content .facebook:hover,
.myform-area .form-area .form-content .facebook:focus{
    background: transparent;
}

.myform-area .form-area .form-content .twitter{
    display: block;
    padding: 10px 20px;
    background: #00ACED;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
    border-radius: 4px;
    border: 1px solid #00ACED;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.myform-area .form-area .form-content .twitter:hover,
.myform-area .form-area .form-content .twitter:focus{
    background: transparent;
}
.myform-area .form-area .form-input{
    background-color: white;
    position: relative;
    overflow: hidden;
}
.myform-area .form-area .form-input{
    width: 50%;
    background: #fff;
    padding: 40px 30px;
}

.myform-area .form-area .form-input h2{
    margin-bottom: 20px;
    color: #07315B;
}

.myform-area .form-area .form-input input{
    position: relative;
    height: 60px;
    padding: 20px 0;
}
.myform-area .form-area .form-input textarea{
    height: 120px;
    padding: 20px 0;
}

.myform-area .form-area .form-input input,
.myform-area .form-area .form-input textarea{
    text-transform: capitalize;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 2px solid #e1e1e1;
    color: #07315B;
}
.myform-area .form-area .form-input form .form-group{
    position: relative;
}
.myform-area .form-area .form-input form .form-group label{
    position: absolute;
    text-transform: capitalize;
    top: 20px;
    left: 0;
    pointer-events: none;
    font-size: 14px;
    color: #595959;
    margin-bottom: 0;
    transition: all .6s;
}
.myform-area .form-area .form-input input:focus ~ label,
.myform-area .form-area .form-input textarea:focus ~ label,
.myform-area .form-area .form-input input:valid ~ label,
.myform-area .form-area .form-input textarea:valid ~ label{
    top: -5px;
    opacity: 0;
    left: 0;
    color: rgb(36, 41, 54);
    font-size: 12px;
    color: #07315B;
    font-weight: bold;
}
.myform-area .form-area .form-input input:focus,
.myform-area .form-area .form-input textarea:focus,
.myform-area .form-area .form-input input:valid,
.myform-area .form-area .form-input textarea:valid{
    border-bottom: 2px solid rgb(36, 41, 54);
}
.myform-area .form-area .form-text{
    margin-top: 30px;
}
.myform-area .form-area .form-text span a{
    color: rgb(36, 41, 54);
}
.myform-area .form-area .myform-button{
    margin-top: 30px;
}
.myform-area .form-area .myform-button .myform-btn{
    width: 100%;
    height: 50px;
    font-size: 17px;
    background: rgb(36, 41, 54);
    border: none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.myform-area .form-area .myform-button .myform-btn:hover{
    background: #07315B;
}
.myform-area .form-area .myform-button2 .myform-btn{
    width: 100%;
    height: 50px;
    font-size: 17px;
    background: #fff;
    border: none;
    border-radius: 50px;
    color: rgb(36, 41, 54);
    cursor: pointer;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.myform-area .form-area .myform-button2 .myform-btn:hover{
    background: #f0f9ff;
}
h1{
    font-size: 25px;
}
.nawfield{
    align-items: left;
    width: 30%;
    margin-left: 12%;
}
input[type=checkbox] {
    padding: 10px;
    width: 15px;

    vertical-align: middle;
    position: relative;
    bottom: 1px;
}
input[type=radio],
input.radio {
    fvertical-align: middle;
    position: relative;
    width: 30px;
    height: 15px;
}

label {
    display: block;
}

.regfield{
    margin-bottom: 10px;
    height: 45px;
    border-radius: 10px;
    border: none;
}

#registerfield{
    align-items: center;
    margin: 5%;
    margin-left: 18%;
    width: 80%;
    overflow: hidden;
}
#nawfield{
    padding: 10px;
    float: left;
    width: 40%;
    border-right: 2px solid white;

}
#accountfield{
    padding: 10px;
    width: 40%;
    overflow: hidden;

}